/* ===================================
   EVERYTHING
   =================================== */

* {
    font-family: var(--default-font);
    box-sizing: border-box;
    margin: 0;
    padding: 0;
   }

body {
   background-color: var(--body-color);
   height: 100vh;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   align-items: center;
   -webkit-user-select: none; /* no highlighting - Safari */
   user-select: none; /* no highlighting */
}

body.dark-mode {
   --body-color: #2a2a2a;
   --grid-color: #5a5a5a; 
   --link-color: #c97f4a;
   --text-color: #e0e0e0;
}

:root {
   --link-color: #000000;
   --text-color: #000000;
   --h1-font-size: 2em;
   --h2-font-size: 1.45em;
   --h3-font-size: 1.15em;
   --h4-font-size: 0.8em;
   --button-radius: 8px;
   --box-shadow: 0px 4px 6px rbga(0,0,0,0.1);
   --body-color: #ffffff;
   --grid-color:#000000;
   --handwritten-font: 'Finger Paint', 'JetBrains Mono', monospace;
   --default-font:'JetBrains Mono', 'Finger Paint', monospace;
}

button,
a,
svg.light-dark-mode {
    cursor: pointer;
}

a {
    color: var(--link-color);
    text-decoration: none;
}

a:visited {
    color: var(--link-color);
}

a:hover {
    text-decoration: overline;
}

/* ===================================
   HEADER
   =================================== */
.header {
   display: flex;
   width: 100vw;
   padding: 15px 0px;
   justify-content: center;
   position: relative;
}

.title {
   font-size: var(--h1-font-size);
   color: var(--text-color);
   justify-self: center;
}

.header svg {
   height: var(--h1-font-size);
   margin: 0 0 0 35px;
   color: var(--text-color);
   position: absolute;
   top: 50%;
   right: 20px;
   transform: translateY(-50%);
}

/* ===================================
   MAIN BODY CONTAINERS
   =================================== */
.container {
   display: flex;
   flex-wrap: wrap;
   width: 100vw;
   justify-content: center;
}

/* .left-container {
   padding-right: 3vw;
}

.right-container {
   padding-left: 3vw;
} */

.left-container,
.right-container {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   padding: 50px;
}

/* ===================================
   SCOREBOARD
   =================================== */
.scoreboard {
   display: flex;
   flex-direction: column;
   align-items: center;
   border: solid black 1px;
   width: 250px;
   height: 200px;
}

.score-title {
   font-size: var(--h2-font-size);
}

.score-container {
   display: grid;
   grid-template-rows: repeat(2, 1fr);
   grid-template-columns: 15fr 1fr;
}

.score {
   font-family: var(--handwritten-font);
}
   
/* ===================================
   GAME GRID & GAME MESSAGES
   =================================== */
.win-message,
.tie-message {
   font-family: var(--default-font);
   color: var(--text-color);
   padding: 20px 0px;
}

.grid-container {
   justify-self: center;
   display: grid;
   width: fit-content;
   gap: 5px;
   grid-template-rows: repeat(3, 100px);
   grid-template-columns: repeat(3, 100px);
   background-color: var(--grid-color);
}

.grid-space {
   font-family: var(--handwritten-font);
   background-color: var(--body-color);
   color: var(--text-color);
   display: flex;
   align-items: center;
   justify-content: center;
   font-size: 55px;
}

.clear-grid-button {
   border-radius: var(--button-radius);
   padding: 8px 16px;
}

/* ===================================
   FOOTER
   =================================== */
.footer {
   text-align: center;
}